<body ng-app='whirldsJs'>
  <div class='row' ng-controller='mainController'>
    <div>{{test}}</div>
    <div ng-model="map" data-google-map=true data-map-center='{{center}}' data-map-zoom='{{zoom}}' class='column-11'>{{center}}{{test}}{{zoom}}
      <div data-google-map-marker=true data-marker-options='{{map.marker.options}}' data-marker-location='{{map.marker.location}}' data-marker-type='{{map.marker.type}}' data-marker-id='{{map.marker.id}}'>{{map}}</div>
      <div data-google-map-circle=true data-circle-center='{{map.circle.center}}' data-circle-color='{{map.circle.color}}'></div>
    </div>
  </div> 
</body
